.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #4BBD27;
  border: 1px solid #185705;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #4d7641;
  border-color: #185705;
}
